<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>CONTENEURS - CONTAINERS TRACKING</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Conteneurs</h1>
                <p class="mb-4">Gerer l'ensemble des conteneurs disponible à cet instant sur la plateforme.</p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Liste des conteneurs</h6>
                        <div class="d-none d-sm-inline-block">
                           
                        </div>

                    </div>
                    <div class="card-body">
                        <div  th:if="${containersTrackingResponseSuccess != null}" class="alert-dismissible fade show" th:classappend="${containersTrackingResponseSuccess} ? 'alert alert-success': 'alert alert-danger'" role="alert" >
                            <span th:text="${containersTrackingResponseMessage}"></span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Numéro</th>
                                        <th>Taille</th>
                                        <th>Type</th>
                                        <!--<th>Actions</th>-->
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr th:each="conteneur : ${conteneurs}">
                                        <td th:text="${conteneur.numeroConteneur}"></td>
                                        <td th:text="${conteneur.tailleConteneur}"></td>
                                        <td th:text="${conteneur.typeConteneur}"></td>
<!--                                        <td>
                                            <a th:href="@{/admin/conteneurs/edit/{id}(id=${conteneur.idConteneur})}" class=" btn btn-sm btn-primary shadow-sm" title="Edit"><i
                                    class="fas fa-edit fa-sm text-white-50"></i> </a>
                                    <a th:href="@{/admin/conteneurs/delete/{id}(id=${conteneur.idConteneur})}" class=" btn btn-sm btn-danger shadow-sm" title="Delete"><i
                                    class="fas fa-times-circle fa-sm text-white-50"></i> </a>
                                        </td>-->
                                    </tr>
                                </tbody>
                                <tfoot th:if="${totalPages > 1}">
                                    <tr>
                                        <th>
                                            <nav aria-label="....">
                                                <ul class="pagination">
                                                    <li class="page-item">
                                                        <a class="page-link" th:if="${page > 1}" th:href="@{${link}(page=${page-1})}" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                        </a>
                                                    </li>
                                                    <li class="page-item" th:each="i: ${#numbers.sequence(start, end)}" th:classappend="${i == page}?'active'"><a class="page-link" th:href="@{${link}(page=${i})}" th:text="${i}">1</a></li>
                                                    <li class="page-item" th:if="${page < totalPages}" >
                                                        <a class="page-link" th:href="@{${link}(page=${page+1})}" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </th>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
        </div>
    </body>
</html>
