<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>CONTAINERS TRACKING</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div th:fragment = "sidebar" >
            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/admin/}">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-cube"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Containers trackings</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/admin/}">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Tableau de bord</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/admin/containers-movements}">
                            <i class="fas fa-fw fa-water"></i>
                            <span>Mouvements</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/admin/containers}">
                            <i class="fas fa-fw fa-cube"></i>
                            <span>Conteneurs</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/admin/users}">
                            <i class="fas fa-fw fa-users"></i>
                            <span>Utilisateurs</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/admin/search-containers-historic}">
                            <i class="fas fa-fw fa-bookmark"></i>
                            <span>Historiques Recherches</span></a>
                    </li>

                    <!-- Divider -->
                    <hr class="sidebar-divider"/>

            </ul>
            <!-- End of Sidebar -->
        </div>
    </body>
</html>
