<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>CONTAINERS TRACKING</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div th:fragment = "footer" >
            <!-- Footer -->
            <footer class="footer bg-dark-vp">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item">
                                    <a href="#" class="text-white">A propos</a>
                                </li>
                                <li class="list-inline-item">&sdot;</li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-white">Contact</a>
                                </li>
                                <li class="list-inline-item">&sdot;</li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-white">Conditions d'utilisation</a>
                                </li>
                            </ul>
                            <p class="text-muted small mb-4 mb-lg-0">&copy; containers tracking 2021. Tous les droits réservés.</p>
                        </div>
                        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item mr-3">
                                    <a href="#"  class="text-white">
                                        <i class="fab fa-facebook fa-2x fa-fw"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item mr-3">
                                    <a href="#" class="text-white">
                                        <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-white">
                                        <i class="fab fa-instagram fa-2x fa-fw"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
