<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>CONTAINERS TRACKING - HOMEPAGE</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="content">

            <!-- Icons Grid -->
            <section class="features-icons ">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9">
                            <h2 class="mb-4">Résultat de votre recherche</h2>
                        </div>
                        <div class="col-md-12 col-lg-8 col-xl-12">
                            <form th:action="@{/search-container-movement}">
                                <div class="form-row" th:action="@{/search-container-movement}">
                                    <!--                            <div class="col-12 col-md-3 mb-2 mb-md-0">
                                                                    <select id="inputState" class="form-control form-control-lg" name="search-type">
                                                                        <option value="" selected="selected">Type de recherche</option>
                                                                        <option value="container-number">Conteneur</option>
                                                                        <option value="bl-number">BL</option>
                                                                        <option value="trip-number">Numéro voyage</option>
                                                                    </select>
                                                                </div>-->
                                    <div class="col-12 col-md-4 mb-2 mb-md-0">
                                        <input type="text"  name="search-number" th:value="${searchNumber}" class="form-control form-control-lg" placeholder="Numéro voyage / conteneur / BL">
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <button type="submit" class="btn btn-block btn-lg btn-primary">Rechercher</button>
                                    </div>
                                    <div th:if='${containerMovementSearch != null}' class="col-12 col-md-2 float-right">
                                        <a type="submit" class="btn btn-block btn-lg btn-warning" th:href="@{/search-container-movement/{id}/export-to-pdf(id=${containerMovementSearch.idMouvement})}">Imprimer</a>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>
            <!-- Image Showcases -->
            <section class="showcase container-movement-search-result">
                <div class="container p-0">
                    <div class="row no-gutters">

                        <div id="map" class="col-lg-6 order-lg-2 text-white ">

                        </div>
                        <div  class="col-lg-6 order-lg-1">
                            <div th:if='${containerMovementSearch != null}' class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="mouvementDate" style="font-weight: bold;">Mouvement du :</label>
                                    <div id="mouvementDate"><span th:text="${#dates.format(containerMovementSearch.dateMouvement, 'dd/MM/yyyy')}"></span> <span th:if='${containerMovementSearch.heureMouvement != null}'>à <span th:text="${#dates.format(containerMovementSearch.heureMouvement, 'HH:mm')}"></span></span></div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="departurePlace" style="font-weight: bold;">Lieu Départ :</label>
                                    <div id="departurePlace" th:text="${containerMovementSearch.lieuDepart}"></div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="arrivalPlace" style="font-weight: bold;">Lieu Arrivée :</label>
                                    <div id="arrivalPlace" th:text="${containerMovementSearch.lieuArrivee}"></div>
                                </div>
                               
                                <input id="container_movement_id" type="hidden" name="container_movement_id" th:value="${containerMovementSearch.idMouvement}"/>
                            </div>
                            <div th:if='${containerMovementSearch != null}' class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="dateprevisionnelle" style="font-weight: bold;">Arrivée prévisionnelle</label>
                                    <div id="dateprevisionnelle" th:text="${#dates.format(containerMovementSearch.datePrevisionnelle, 'dd/MM/yyyy')}"></div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="derniereLocalisation" style="font-weight: bold;">Dernière localisation :</label>
                                    <div id="derniereLocalisation" th:text="${containerMovementSearch.derniereLocalisation}"></div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="typeMouvement" style="font-weight: bold;">Lieu Arrivée :</label>
                                    <div id="typMouvement" th:text="${containerMovementSearch.typeMouvement}"></div>
                                </div>
                            </div>
                            
                            <div th:if='${containerMovementSearch != null}' class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="tailleconteneur" style="font-weight: bold;">Taille Conteneur</label>
                                    <div id="tailleconteneur" th:text="${containerMovementSearch.tailleConteneur}"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="typeConteneur" style="font-weight: bold;">Type Conteneur :</label>
                                    <div id="typeConteneur" th:text="${containerMovementSearch.typeConteneur}"></div>
                                </div>
                            </div>
                            <div th:if='${containerMovementSearch != null}' class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="nomNavire" style="font-weight: bold;">Nom Navire</label>
                                    <div id="nomNavire" th:text="${containerMovementSearch.nomNavire}"></div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="numeroBL" style="font-weight: bold;">Numero BL :</label>
                                    <div id="numeroBL" th:text="${containerMovementSearch.numeroBL}"></div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="numeroVoyage" style="font-weight: bold;">Numero voyage :</label>
                                    <div id="numeroVoyage" th:text="${containerMovementSearch.numeroVoyage}"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
